#from azure.identity import ClientSecretCredential
from azure.common.credentials import ServicePrincipalCredentials
from azure.mgmt.dns import DnsManagementClient

subscription_id = 'b417a685-6dc7-454f-8bfd-92ee07eb9b70'

credentials = ServicePrincipalCredentials(
    tenant='9dced66e-575f-4f31-8290-3ebd7a87696d',
    client_id='0ba4b4af-459a-4586-9f10-caddf85a69c1',
    secret='WZJ7Q~bHf-zXZYIbpM9VtZFB42ST.X8jnDHTd'
)

#credentials = ClientSecretCredential(
#    tenant_id='9dced66e-575f-4f31-8290-3ebd7a87696d',
#    client_id='0ba4b4af-459a-4586-9f10-caddf85a69c1',
#    client_secret='WZJ7Q~bHf-zXZYIbpM9VtZFB42ST.X8jnDHTd'
#)

dns_client = DnsManagementClient(
	credentials,
	subscription_id
)

dashboard_record_set = dns_client.record_sets.create_or_update(
	'xplat',
	'fke.fptcloud.com',
	'dashboard.{{ cluster_id }}',
	'A',
	{
			"ttl": 10,
			"arecords": [
				{
				"ipv4_address": "{{ ip_public }}"
				}
			]
	}
)

api_record_set = dns_client.record_sets.create_or_update(
	'xplat',
	'fke.fptcloud.com',
	'api.{{ cluster_id }}',
	'A',
	{
			"ttl": 10,
			"arecords": [
				{
				"ipv4_address": "{{ ip_public }}"
				}
			]
	}
)

print(dashboard_record_set)
print(api_record_set)
print("Create dashboard record successful")
print("Create api record successful")
